<!DOCTYPE html>
<html>
<head>
  <title>CSS Grid Layout</title>
  <link rel="stylesheet" type="text/css" href="lab02-layout_361.css">

</head>
<footer></footer>
<body>
  <div class="headboxs"></div> 
<body>
    <header class="header-box"> </header>
    <div class="flexbox">
  <div class="square">
  <div class="box"> </div></div>
  <div class="square">
  <div class="box"> </div></div>
  <div class="square">
  <div class="box"> </div></div>
  <div class="square">
  <div class="box"> </div></div>
  <div class="square">
  <div class="box"> </div></div>
  <div class="square">
  <div class="box"> </div></div>
    </div>
    <footer class="footer-box"> </footer>

  <div class="footer"></div> 
</body>
</html>